.side-nav {
    position: sticky;
    top: 88px;
}

.side-nav ul {
    display: flex;
    flex-direction: column;
    gap : 4px;
}

.side-nav a {
    display: block;
    padding: 14px 18px;
    border-radius: 10px;
    background-color: #effcf6;
    font-weight: 600;
    transition: background-color 0.2s, color 0.2s;
}

.side-nav a:hover {
    background-color: #13706a;
    color: #ffffff;
}

.side-nav li:first-child a {
    border-radius: 16px 16px 0 0;
}

.side-nav li:last-child a {
    border-radius: 0 0 16px 16px;
}